<div class="task-form-section">
  <form class="task-form" (submit)="onSave($event)">
    <p>
      <mat-form-field class="task-form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input 
          [(ngModel)]="goalCard.name" 
          [value]="goalCard.name" 
          class="task-form-input" 
          matInput 
          name="name" 
          placeholder="Name"
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="task-form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <input 
          [(ngModel)]="goalCard.description" 
          [value]="goalCard.description" 
          class="task-form-input" 
          matInput 
          name="description" 
          placeholder="Description"
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="assignee" [value]="goalCard.Assignee" name="assignee">
          <mat-option 
            *ngFor="let assignee of assigneesList" 
            [value]="assignee">
            {{ assignee.firstName + ' ' + assignee.lastName }}
          </mat-option>
        </mat-select>
        <mat-label><i>Assignee</i></mat-label>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input 
          [(ngModel)]="goalCard.dueDate" 
          [value]="goalCard.dueDate" 
          matInput 
          [matDatepicker]="picker" 
          name="dueDate" 
          placeholder="Due date"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-label><i>Due date</i></mat-label>
      </mat-form-field>
    </p>
    <button class="task-form-button" type="submit" mat-button mat-stroked-button>
      Save
    </button>
    <button (click)="onCancel()" class="task-form-button" type="button" mat-button mat-stroked-button>
      Cancel
    </button>
  </form>
</div>		
