<div class="task-form-section">
  <form #CardForm class="task-form" (submit)="onSave()">
    <p>
      <mat-form-field class="task-form-field" appearance="outline">
        <input [(ngModel)]="newCard.name" class="task-form-input" matInput name="name" placeholder="Name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="task-form-field" appearance="outline">
        <input [(ngModel)]="newCard.description" class="task-form-input" matInput name="description" placeholder="Description">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-select [(ngModel)]="assignee" name="assignee" required>
          <mat-option 
            *ngFor="let assignee of assigneesList" 
            [value]="assignee.firstName + ' ' + assignee.lastName">
            {{ assignee.firstName + ' ' + assignee.lastName }}
          </mat-option>
        </mat-select>
        <mat-label><mat-icon>person</mat-icon><i>Assignee</i></mat-label>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input [(ngModel)]="newCard.dueDate" matInput [matDatepicker]="picker" name="dueDate" placeholder="Due date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <button class="task-form-button" type="submit" mat-button mat-stroked-button>
      Save
    </button>
    <button (click)="onCancel()" class="task-form-button" type="submit" mat-button mat-stroked-button>
      Cancel
    </button>
  </form>
</div>		
