<mat-toolbar class="toolbar">
  <form (submit)="onSearch()" class="search-form">
    <mat-form-field class="search-form-field" appearance="outline">
      <input class="search-form-input" matInput [(ngModel)]="searchCriterion" name="searchCriterion" placeholder="name">
      <mat-icon class="search-form-icon" matSuffix>search</mat-icon>
    </mat-form-field>
    <button class="search-form-button" type="submit" mat-button mat-stroked-button aria-label="search">
      search
    </button>
  </form>
</mat-toolbar>



